<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <h1>Informe a altura e o seu peso para calcular o imc</h1>
        <form action="/calc_imc" method="GET">
            <label for="altura">Altura:</label><br>
            <input type="text" id="" name="altura"><br>
            <label for="peso">Peso:</label><br>
            <input type="text" id="" name="peso"><br><br>
            <button type="submit">Calcular IMC</button>
        </form> 
</body>
</html>